{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Успешная регистрация</title>
    <link rel="stylesheet" href="{% static 'apartment/css/registration_success.css' %}">
</head>
<body>
<header>
    <h1>Регистрация успешна</h1>
</header>

<main class="success-container">
    <h2>Активируйте почту, чтобы войти в систему.</h2>
    <p>Вам отправлено письмо на почту с активацией.</p>
</main>

</body>
</html>